# Created by https://www.gitignore.io/api/vagrant
# Edit at https://www.gitignore.io/?templates=vagrant

### Vagrant ###
# General
.vagrant/
files/

### Vagrant Patch ###
*.box

# End of https://www.gitignore.io/api/vagrant
